@import "tailwindcss";

@theme {
  /*In Use*/
    --color-customWhite: #FDFBEE;
    --color-cardContent: #3B3C36;
    --color-snow: #FFFAFA.;
    --color-customRed: #ff3310;
    --color-anotherWhite: #f5f5f5;
    --color-customGray:#F5F5F5;
    --color-footerColor:#242424;
    /*Not In Use*/
    --color-customGreen: #015551;
    --color-testWhite:#FFA41A;
    /*#FFA41A*/
  }